* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: solid red 1px;
}

body {
  padding: 0;

  box-sizing: border-box;
}
a:link {
  color: grey;
}
a:visited {
  color: grey;
}
a:hover {
  color: black;
}

a:active {
  color: grey;
}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navList {
  display: flex;
  flex-wrap: wrap;
  text-transform: touppercase;

  list-style-type: none;
  line-height: 50px;
  column-gap: 0.8rem;
}

.logoYMarca {
  display: flex;
  font-size: 50px;
}

#logo-nav {
  height: 8vh;
  width: auto;
  border-radius: 50%;
}
.logoYMarca > div > span {
  font-weight: bold;
}
